.container {
	display: flex;
	background-color: #1e1e1e;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 10vh;
	height: 90vh;
	width: 100vw;
	user-select: none;
}

.game-hdr {
	color: white;
	font-size: 3rem;
	margin: 0 0;
}

.game-bg {
	position: relative;
	width: 1280px;
	height: 720px;
	background: linear-gradient(315deg, rgba(60,132,206,1) 38%, rgba(255,25,25,1) 98%);
	display: flex;
	flex-direction: row;
  	align-items: center;
	justify-content: center;
}

.left-player {
	position: absolute;
	width: 20px;
	height: 250px;
	left: 30px;
	background-color: rgba(255, 255, 255, 0.637);
}

.right-player {
	position: absolute;
	width: 20px;
	height: 250px;
	right: 30px;
	background-color: rgba(255, 255, 255, 0.637);
}

.markup {
	position: absolute;
	width: 1%;
	height: 45%;
	left: 49.5%;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.637) 50%);
	background-size: 50% 20%;
}

.markup-top {
	position: absolute;
	width: 1%;
	height: 45%;
	left: 49.5%;
	top: 0;
	background: linear-gradient(to top, transparent 50%, rgba(255, 255, 255, 0.637) 50%);
	background-size: 50% 20%;
}

.ball {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.821);
	border-radius: 100%;
}

.score-left {
	position: absolute;
	left: 20%;
	color: rgba(255, 255, 255, 0.637);
	font-size: 8rem;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.score-right {
	position: absolute;
	right: 20%;
	color: rgba(255, 255, 255, 0.637);
	font-size: 8rem;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.not-ready-bg {
	height: 100vh;
	width: 100vw;
	background-color: rgb(49, 49, 49);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .ready-btn {
	text-decoration: none;
	background-color: transparent;
	border: .4rem solid rgb(255, 255, 255);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height: 5rem;
	width: 14rem;
	font-size: 2rem;
	color: rgb(255, 255, 255);
	transition: scale 0.4s;
}

.ready-btn:hover {
	cursor: pointer;
	scale: 1.1;
} */

.end {
	background-color: #1e1e1e;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height: 10rem;
	width: 25rem;
	font-size: 3rem;
	color: rgb(255, 255, 255);
}

.connect-btn {
	text-decoration: none;
	background-color: transparent;
	border: .4rem solid rgb(255, 255, 255);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height: 4rem;
	width: 10rem;
	font-size: 1.5rem;
	color: rgb(255, 255, 255);
	transition: 0.4s;
}

.connect-btn:hover {
	border: none;
	cursor: pointer;
	background-color: white;
	color: #1e1e1e;
}

.powerup-cont {
	width: 6rem;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.powerup-cont .pup {
	transition: .3s;
}

.powerup-cont .pup:hover {
	scale: 1.2;
	cursor: pointer;
}

.invis {
	opacity: 1;
	animation: fade .5s infinite alternate;
}
  
@keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}




