.header {
	position: absolute;
	top: 0;
	background-color: #ffffffce;
	width: 100vw;
	height: 10vh;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.345);
	display: flex;
	align-items: center;
}

.header-list {
	width: 100%;
	color: rgb(71, 71, 71);
	list-style: none;
	display: flex;
	align-items: center;
  	justify-content: space-evenly;
	font-size: 2em;
}

.list-item {
	padding: 2rem;
	width: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .link-btn {
	text-decoration: none;
	background-color: #476cd2c9;
	font-size: 2rem;
	width: 12rem;
	height: 4rem;
	color: #ffffffce;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .4s;
}

.header .link-btn:hover {
	color: white;
	background-color: #476cd2;
}

.tfa-btn {
	background-color: transparent;
	border: .3rem solid rgba(128, 128, 128, 0.51);
	color: rgba(128, 128, 128, 1);
	font-size: 2rem;
	width: 7rem;
	height: 3.5rem;
	transition: .15s;
}

.tfa-btn:hover {
	cursor: pointer;
}