.header {
	background-color: #282c34;
	min-width: 100vw;
	min-height: 10vh;
}

.header-list {
	color: white;
	list-style: none;
	display: flex;
	align-items: center;
  	justify-content: center;
	font-size: 2em;
}

.list-item {
	padding: 2rem;
}