.stats-cont {
  display: grid;
  width: 400px;
  height: 60vh;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #f9f9f9;
  margin: 0 auto;
  overflow-y: scroll;
}

.table-header {
  grid-column: 1 / -1;
  height: 5rem;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #476cd2c9;
  color: white;
}

.column {
  padding: 5px;
  width: 3rem;
}

.table-row {
  height: 5rem;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.table-row:nth-child(odd) {
  background-color: #fff;
}

.icon-right {
  position: absolute;
  top: 55%;
  left: 65%;
}

.icon-right:hover {
  cursor: pointer;
}

.icon-left {
  position: absolute;
  top: 55%;
  right: 65%;
}

.icon-left:hover {
  cursor: pointer;
}


.row-rank {
  justify-content: space-between;
  flex-direction: row;
}