.stats-cont {
  position: absolute;
  height: 70vh;
  overflow-y: scroll;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.stats-cont h1 {
  background-color: #476cd2c9;
  margin: 0;
  color: white;
  padding: 2rem;
}

table {
  width: 40rem;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

td {
  padding: 2rem;
  background-color: #ffffffa4;
  font-size: 2rem;
  color: rgb(71, 71, 71);
}

tbody td {
  position: relative;
}
