ul
{
	list-style: none;
	padding: 0;
}

.chat-container {
	display: flex;
	height: 70vh;
	width: 70vw;
}

.chat-section .sec-name {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 20px;
}

.chat-section .sec-name h3 {
	margin: 0;
	color: rgb(60, 60, 60);
	width: 10rem;
}

.chat-section .sec-name .plus-icon {
	transform: scale(1.1);
}

.chat-section .sec-name .plus-icon:hover {
	cursor: pointer;
}

  /* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	/* removed justify-content: space-evenly; */
	flex: 1;
	background-color: #ffffffce;
	height: 100%; /* ensure the sidebar takes full height */
}
  
.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
  
.profile img {
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	border-radius: 50%;
	border: #476cd2c9 solid 5px;
}
  
.profile button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}
  
.channels, .direct-messages {
	margin-bottom: 20px;
	flex: 1; /* allow these sections to grow and shrink */
	overflow-y: auto; /* add scrolling when content is too tall */
	max-height: calc(50% - 10px); /* subtract margin-bottom to calculate max-height */
  }
  
.channels h3, .direct-messages h3 {
	font-size: 20px;
	color: white;
	background-color: #476cd2c9;
	padding: .5rem;
	margin-bottom: 10px;
}

.channels ul li, .direct-messages ul li {
	margin-bottom: 5px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
  
.channels ul li button, .direct-messages ul li button {
	display: block;
	padding: 5px;
	width: 80%;
	font-size: large;
	border-radius: 5px;
	color: rgb(71, 71, 71);
	border: 0;
	background-color: transparent;
}
  
.channels ul li button:hover, .direct-messages ul li button:hover {
	background-color: #0000000f;
	cursor: pointer;
}

.chat {
	flex: 4;
	display: flex;
	flex-direction: column;
}
  
.messages {
	flex: 1;
	padding: 20px;
	overflow-y: scroll;
	flex-direction: column;
	justify-content: flex-end;
}
  
.message {
	display: flex;
	margin-bottom: 20px;
}
  
.message img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}
  
.message-content {
	background-color: #ffffffce;
	padding: 10px 20px;
	border-radius: 10px;
	color: rgb(71, 71, 71);
}
  
.message-content h3 {
	font-size: 18px;
	margin-bottom: 5px;
}
  
.message-content p {
	margin: 5px 0;
	font-size: 16px;
}
  
.message-time {
	font-size: 10px;
	color: #999;
	margin-left: auto;
}
  
.message-user {
	font-weight: bold;
	color: #333;
}
  
.message-input {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #ffffffce;
}

.message-input input {
	flex: 1;
	padding: 10px;
	border: none;
	font-size: 16px;
	margin-right: 10px;
	color: rgb(71, 71, 71);
}

.message-input input:focus {
	outline: none;
}
  
.message-input button {
	background-color: #476cd2c9;
	color: rgba(255, 255, 255, 0.702);
	border: none;
	padding: 10px 20px;
	font-size: large;
	cursor: pointer;
}

.message-input button:hover {
	background-color: #476cd2;
	color: white;
}

.other-message {
	display: flex;
	justify-content: flex-start; /* default to left side */
}
  
.user-message {
	justify-content: flex-end; /* override for user's messages */
}

.user-message-content {
	background-color: #476cd2c9;
	color: rgba(255, 255, 255, 0.702);
}

.creation-window {
	display: flex;
	align-items: center;
	justify-content: center;
}

.new-chat-create {
	width: 45%;
	height: 60%;
	background-color: #ffffffce;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.new-chat-create h3 {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

.new-chat-create button {
	border: 0;
	padding: 7px 15px;
	color: rgba(255, 255, 255, 0.702);
	background-color: #476cd2c9;
}

.new-chat-create button:hover {
	color: white;
	cursor: pointer;
	background-color: #476cd2;
}

.new-chat-create input {
	border: 0;
	padding: 7px 10px;
	color:rgb(71, 71, 71);
}

.new-chat-create input:focus {
	outline: none;
}

.new-chat-create select {
	border: 0;
	padding: 5px 10px;
	color:rgb(71, 71, 71);
}

.new-chat-create select:focus {
	outline: none;
}

.new-chat-create-group {
	height: 70%;
}

.chat-header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #ffffffce;
  }
  
.chat-header h2 {
	margin: 0;
	color: rgb(71, 71, 71);
	font-family: "Montserrat", sans-serif;
}

.block-menu {
	position: absolute;
	transform: translateY(-40px);
}

.block-menu button {
	border: 0;
	width: 120px;
	height: 30px;
	background-color: rgb(71, 71, 71);
	color: white;
	font-family: "Montserrat", sans-serif;
}

.block-menu button:hover {
	cursor: pointer;
}

.members-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.9);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .members-menu {
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	max-width: 80%;
	padding: 1em;
  }
  
  .members-menu ul {
	list-style-type: none;
	padding: 0;
  }
  
  .members-menu li {
	padding: 1em;
	border-bottom: 1px solid #eee;
	cursor: pointer;
  }
  
  .members-menu li.selected {
	background: #f5f5f5;
  }
  
  .user-actions {
	display: flex;
	gap: 1em;
	margin-top: 1em;
  }
  