.chat-cont {
	width: 80%;
	height: 90%;
	background-color: #ffffffce;
	display: flex;
}

.chat-cont .left-sect
{
	background-color: #476cd2c9;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.left-sect h1 {
	color: #ffffffce;
	font-size: 3rem;
}

.left-sect section {
	height: 90%;
	width: 100%;
	background-color: #476cd2;
}

.left-sect section ul {
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
}

.left-sect section ul li {
	height: 20%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ffffffce;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	transition: .4s;
}

.left-sect section ul li:hover {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.271);
}

.plus-btn {
	width: 4rem;
	height: 4rem;
	border: 0;
	background-color: #ffffffce;
	border-radius: 100%;
	transition: .4s;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.plus-btn::before {
	content: "+";
	color: #476cd2c9;
	font-size: 4.5rem;
	transition: .4s;
}

.plus-btn:hover {
	cursor: pointer;
	background-color: #ffffffdf;
}

.plus-btn:hover::before {
	color: #476cd2;
}

.chat-cont .right-sect {
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
}

.right-sect section {
	height: 92%;
	width: 100%;
}

.right-sect .msg-input {
	justify-items: flex-end;
	height: 8%;
	border: 0;
	background-color: #476cd2c9;
	color: #ffffffdf;
	font-size: 1.5rem;
	padding-left: 1.3rem;
}

.right-sect .msg-input::placeholder {
	color:#ffffff5b;
}

.right-sect .msg-input:focus {
	/* background-color: #476cd2; */
	outline: none;
}