.search-input
{
	width: 30rem;
	height: 4rem;
	background-color: #ffffff80;
	font-size: 2rem;
	color: rgb(71, 71, 71);
	padding-left: 1rem;
	border: 0;
	margin: 0;
}

.search-input:focus
{
	outline: none;
}

.search-input::placeholder
{
	color: rgba(0, 0, 0, 0.377);
}

.results-cont
{
	background-color: #ffffffa4;
	width: 31rem;
	height: 40rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}

.user-li
{
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-li:hover
{
	background-color: rgba(0, 0, 0, 0.051);
	cursor: pointer;
}

.user-li img {
	height: 70%;
	margin-left: 5%;
}

.user-li h1 {
	font-size: large;
	margin: 0;
}

.user-li button {
	border: 0;
	color: white;
	background-color: #476cd2af;
	width: 15%;
	height: 30%;
	margin-right: 5%;
}

.user-li button:hover {
	cursor: pointer;
	background-color: #476cd2;
}

.user-li div button {
	border: 0;
	color: white;
	background-color: #476cd2af;
	width: 60%;
	height: 30%;
	margin-right: 5%;
}

.user-li div button:hover {
	cursor: pointer;
	background-color: #476cd2;
}

.input-wrap {
	position: relative;
}

.input-wrap .spinner {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 20%;
	right: 3%;
	transform: translateY(-50%);
	border-top-color: #476cd2;
	animation: spin-input 1s linear infinite;
}

@keyframes spin-input {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user-li p {
	font-family: "Montserrat", sans-serif;
	color:#476cd2;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 15%;
	margin-right: 5%;
}

.user-li .icon-gr {
	transform: scale(1.2);
}

.user-li .icon-gr:hover {
	color: #0fc384;
	cursor: pointer;
}

.user-li .icon-red {
	transform: scale(1.2);
	margin-right: 6%;
}

.user-li .icon-red:hover {
	color: rgb(205, 0, 0);
	cursor: pointer;
}

.user-li div {
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5%;
}

.top-div {
	width: 100%;
	height: 10%;
	margin-bottom: 2%;
}

.top-btn {
	border: 0;
	width: 50%;
	height: 100%;
	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;
}

.top-btn:hover {
	cursor: pointer;
}

.status-online {
	position: relative;
	max-width: 10px;
	max-height: 10px;
	border-radius: 50%;
	background-color: #0fc384;
	cursor: pointer;
  }

.status-online:hover::before {
	content: "Online";
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 4px;
	font-size: 12px;
}

.status-offline {
	position: relative;
	max-width: 10px;
	max-height: 10px;
	border-radius: 50%;
	background-color: rgba(128, 128, 128, 0.51);
	cursor: pointer;
}

.status-offline:hover::before {
	content: "Offline";
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	background-color: rgb(71, 71, 71);
	color: white;
	border-radius: 4px;
	font-size: 12px;
}