.dashboard-cont {
	width: 80%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.dashboard-cont h1 {
	font-weight: bold;
	margin: 0;
	font-size: 2.5rem;
	color: rgb(71, 71, 71);
	text-align: center;
}

.dashboard-cont section {
	height: 40%;
	width: 22%;
	background-color: #ffffffce;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.dashboard-cont .user-sec {
	width: 100%;
}

.dashboard-cont .link-btn {
	text-decoration: none;
	background-color: #476cd2c9;
	font-size: 2rem;
	width: 12rem;
	height: 4rem;
	color: #ffffffce;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .4s;
}

.dashboard-cont .link-btn:hover {
	color: white;
	background-color: #476cd2;
}

.dashboard-btn {
	text-decoration: none;
	color:rgb(71, 71, 71);
	font-size: 2.2rem;
	transition: .4s;
}

.dashboard-btn:hover {
	font-size: 2.3rem;
}


.logout-btn {
	text-decoration: none;
	background-color: #476cd2c9;
	font-size: 2rem;
	width: 12rem;
	height: 4rem;
	color: #ffffffce;
	display: flex;
	justify-content: center;
	border: 0;
	align-items: center;
	transition: .4s;
}

.logout-btn:hover {
	color: white;
	background-color: #476cd2;
	cursor: pointer;
}